body, html {
    height: 100%;
}

#landingImglanding { 
    /* The image used */
    background-image: url("../styles/img/pexels-photo-461428.jpeg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

