@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
#navbar {
    box-shadow: 0px 0px 4px 1px;
    position: relative;
  }
  
  #brand {
    background: rgb(10, 177, 93);
    padding: 3px;
    border-radius: 3px;
    font-size: 30px;
  }
  
  #navBtn {
    background: black;
  }
  
  .nav-link {
    padding: 5px 0px 0px 0px;
  }

#heading {
    font-weight: bold;
}

.jumbotron {
    background-image: url("img/blurred-background-close-up-colors-1438994.jpg");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    color: aliceblue;   
    text-align: center;
}

#heading {
    padding-top: 30px;
}

table td,
table tr {
    border: 0;
    border-color: ghostwhite;
    padding: 0;
}

#tableU > tbody > tr:first-child {
    border-top: 0;
}

#tableU > tbody > tr > td {
    border-top: 0;
}

.pt {
    margin-top:20px;
}

img {
    float: left;
}

#image {
    padding-left: 60px; 
    /* padding-top: 30px; */
    margin-top: 10px;
}

#infobar {
    margin-left: 30px;
    display: block;
    margin-bottom: 50px;
}
#gallery {
    margin-top: 15px;
}

/* Footer */
.footer {
    /* position: relative; */
    /* width: 100%;
    height: 70px;
    bottom: 0;
    padding: 20px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    margin-top: 50px;
  }
  
  #footerSpan {
    font-weight: bold;
    font-size: 18px;
  }

/* Photos Tab CSS */


@media (max-width:991px){
    .img_space{
        margin-bottom:10px;
    }


}
