body {
    background-image: url("img/blurred-background-close-up-colors-1438994.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

table td,
table tr {
    border: 0;
    border-color: ghostwhite;
    padding: 0;
}

#tableU > tbody > tr:first-child {
    border-top: 0;
}


#tableU > tbody > tr > td {
    border-top: 0;
}
.pt {
    margin-top:20px;
}

img {
    float: left;
}
#image {
    padding-left: 60px; 
}
.card {
    /* border-style: groove;
    border-color: blueviolet; */
    /* padding-left: 0;
    padding-right: 0; */
    padding: 0;
    padding-bottom: 0px;
    margin-bottom: 0;

}
.card-heading {
    background-color: yellowgreen;

}

.card-info {
    margin-top: 50px;   
    
}

.card-body {
    padding: 0;
}