@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background: url('../styles/img/gravel.png');
}

/* Navbar */
#navbar {
  box-shadow: 0px 0px 4px 1px;
}

#brand {
  background: rgb(10, 177, 93);
  padding: 3px;
  border-radius: 3px;
  font-size: 30px;
}

#navBtn {
  background: black;
}

.nav-link {
  padding: 5px 0px 0px 0px;
}

#goalCard {
  margin: 40px 0px 40px 0px;
  box-shadow: 0px 0px 2px 1px;
  border: none;
}

#dailyGoal {
  font-weight: bold;
}

li {
  float: left;
  list-style: none;
}

#userForm {
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 0px 0px 2px 1px;
  border: none;
}

.trash {
  cursor: pointer;
}

#mealLog {
  margin-bottom: 40px;
  box-shadow: 0px 0px 2px 1px;
  border: none;
}

#logHeader {
  font-weight: bold;
}

#title {
    z-index: 100;
    position: relative;
}

#submit {
  float: left;
}

#addRow {
  float: right;
}

#motto {
    font-size: 20px;
    font-style: italic;
}

#form {
    box-shadow: 0px 0px 4px 2px gray;
    border: none;
    margin-bottom: 10px;
}

#addMeal {
    font-weight: bold;
    font-size: 35px !important;
}

/* Footer */
.footer {
  /* position: relative; */

    /* position: relative; */
    /* width: 100%;
    height: 70px;
    bottom: 0;
    padding: 20px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    margin-top: 50px;
}

#footerSpan {
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}